{% load staticfiles %}

<html lang="en">
<head>
  <title>{% block title %}MyGuide{% endblock %}</title> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  {% block css %}
    {# Use this block for loading css files from other html files which extend this base.html #}
  {% endblock css%}
</head>
<body>
  <header>
    {% include 'myguide/nav.html' %}
  </header>
  <div class="container" id="app">
    {% block content %}
      {# Use this block for loading CONTENT files from other html files which extend this base.html #}
    {% endblock content %}

    {% block js %}
      {# Use this block for loading JS files from other html files which extend this base.html #}
    {% endblock js %}
  </div>
</body>
</html>