<div>
  <hr>
  <div class="container">
    <div class="text-center">
      <span>
        <a href = "#" >Trends</a>&nbsp;|&nbsp;
        <a href = "#" >Blog</a>&nbsp;|&nbsp;
        <a href = "#" >Terms Of Service</a>&nbsp;|&nbsp;
        <a href = "#" >Privacy Policy</a>&nbsp;|&nbsp;
        <a href = "#" >Request a Feature</a>&nbsp;|&nbsp;
        <a href = "#" >Bug Report</a>&nbsp;|&nbsp;
        <a href = "#" >Contact Us</a>
      </span>
    </div>
  </div>
</div>

<!--
<a href = "#" >Trends</a>&nbsp;|&nbsp;
<a href = "#" >Blog</a>&nbsp;|&nbsp;
<a href = "#" >Terms Of Service</a>&nbsp;|&nbsp;
<a href = "#" >Privacy Policy</a>&nbsp;|&nbsp;
<a href = "#" >Request a Feature</a>&nbsp;|&nbsp;
<a href = "#" >Bug Report</a>&nbsp;|&nbsp;
<a href = "#" >Contact Us</a>
-->

