{% extends 'devlife/base.html' %}

{% block title%}Home|DevLife{% endblock title %}

{% block css %} {% endblock css %}

{% block content %}
<div class="container">
  <div class="text-center" style="margin-top:2rem">
    <h1>Welcome to DevLife!</h1>
    <h2>Things you can do here:</h2>
  </div>
  <p>1. Save your important <strong>Contacts</strong> (developer friends, clients and others) <br>
    2. <strong>Logbook</strong> is here to help you track your daily tasks! <br>
    3. Got something to note down? Use our <strong>Note</strong> section! <br> 
    4. Can't find your resume inside your machine? Save your resume and other important files inside <strong>Files</strong> section here. <br>
    5. Your will never be outdated anymore! See latest technology trends and other related information in <strong>Trends</strong> section. <br>
    6. Cheat Sheet and Documentation. here is the honeypot! <br>
    7. and more!
  </p>
  <h3 class="text-center">Register Now! <a href="{% url 'register' %}">Click Here</a></h3>
</div>
{% endblock content %}